.songs {
    display: flex;
    flex-wrap: wrap;
    max-width: 980px;
    margin: 0 auto;
}

.song {
    max-width: 300px;
    padding: 10px;
    margin: 0 auto;
}

.songImage {
    width: 60%;
    margin: auto;
    display: block;
}